<!DOCTYPE html>
<html>

<head>
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <h1>NETFLIX</h1>
    </nav>

    <header class="banner">
        <div class="banner-content">
            <h1>Unlimited Movies, TV Shows & More</h1>
            <p>Watch anywhere. Cancel anytime.</p>
            <button>Play</button>
        </div>
    </header>

    <section class="row">
        <h2>Trending</h2>

        <div class="row-posters">
            {% for movie in movies %}
            <img class="poster" src="{{ movie.image }}">
            {% endfor %}
        </div>
    </section>

</body>

</html>